.indexedStep {
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: smaller;
  background-color: white;
  border-color: #e5e7ec;
  color: #757f93;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;

  &.accomplished {
    background-color: #664de5;
    color: rgb(255, 255, 255);
  }
}
